<div class="masthead-container">
    <header role="banner">
        <p><strong>{{ site.title }}</strong> <br> {{ site.tagline }}</p>
        {% include navigation.html %}
    </header>
    <div><p><i>I can send you a brief mail whenever I post. Enter your address if you'd like that.</i></div><form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="191722FC90141D02184CB1B62AB3DC26A77F8751A44A009C06AE36FE3C0A78DA120B1A51C90FA1DBB0E98E290339284A75B088987B7982903BF8C0AA8CF54DE0"><div><div><label>Email </label><input autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-jjddjkk-jjddjkk" required="" type="email"><button type="submit">Subscribe</button></form></div></div><script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script></form>
    <div>
        <p>
        </p>
    </div>

</div>
